name: Test with pytest

on: 
   push:
      branches: [main]
   pull_request:

jobs:
    build:
        if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"
        runs-on: ubuntu-latest
        strategy:
            matrix:
                python-version: ["3.9", "3.10"]

        steps:
            - uses: actions/checkout@v3
            - name: Set up Python ${{ matrix.python-version }}
              uses: actions/setup-python@v4
              with:
                  python-version: ${{ matrix.python-version }}

            - name: Install dependencies
              run: |
                  python -m pip install --upgrade pip
                  python -m pip install -r requirements.txt
                  python -m pip install .

            - name: Test with pytest
              run: |
                  cd tests/
                  pytest
